<a href="https://colab.research.google.com/github/SubaRanjan23/devopsIQ/blob/master/Python_Master.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction to Python

#### What is Python?

Python is a high-level, interpreted programming language known for its simplicity and readability. It is widely used in various domains such as web development, data science, and automation.

#### What are the advantages of Python programming language?

- **Libraries**: NumPy, pandas, and matplotlib enable efficient data manipulation, analysis, and visualization.
- **Machine Learning**: Scikit-learn, TensorFlow, and PyTorch provide robust tools for machine learning and model building.
- **Community Support**: A large, active community contributes new libraries, shared knowledge, and support.
- **Integration**: Easily integrates with other languages and tools for seamless data science workflows.
- **Flexibility**: Handles tasks from data cleaning to model deployment within the same environment.
- **Scalability**: Works well with both small and large datasets for projects of any size.
- **Ease of Learning**: Simple, readable syntax is beginner-friendly yet powerful for experienced users.

## Data Types in Python

#### 1. **String to Integer**

In [ ]:
st = "123"

In [ ]:
x = int(st)
print(x)
type(x)

123

int

#### 2. **Integer to String**

In [ ]:
int_value = 123

In [ ]:
s = str(int_value)
print(s)
type(s)

123

str

#### 3. **String to Float**

In [ ]:
str_value = "123.45"

In [ ]:
float_value = float(str_value)
print(float_value)
type(float_value)

123.0

float

#### 4. **Float to String**

In [ ]:
float_value = 123.45

In [ ]:
str_value = str(float_value)
print(str_value)
type(str_value)

123.45

str

#### 5. **Integer to Float**

In [ ]:
int_value = 123

#### 6. **Float to Integer**

In [ ]:
float_value = 123.45

#### 7. **String to List**

In [ ]:
str_value = "hello"

In [ ]:
lst = list(str_value)
lst

['h', 'e', 'l', 'l', 'o']

#### 8. **Integer to Boolean**

In [ ]:
integer = 5

In [ ]:
integer = 0

Poll Q. What will be the output of bool(None)?

## 2. Data Structures

#### Example of a List
my_list = [1, 2, 3, 4, 5]

#### Example of a Tuple
my_tuple = (1, 2, 3, 4, 5)

#### Example of a Set
my_set = {1, 2, 3, 4, 5}

#### Example of a Dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

### Comparison of data types

| Parameters     | List                                                                          | Tuple                                                                           | Set                                                     | Dictionary                                                             |
|----------------|-------------------------------------------------------------------------------|---------------------------------------------------------------------------------|---------------------------------------------------------|------------------------------------------------------------------------|
| Definition     | A list is an ordered, mutable collection of elements.                        | A tuple is an ordered, immutable collection of elements.                        | A set is an unordered collection of unique elements.     | A dictionary is an unordered collection of key-value pairs.             |
| Syntax         | Syntax includes square brackets [ , ] with ‘,’ separated data.               | Syntax includes curved brackets ( , ) with ‘,’ separated data.                  | Syntax includes curly brackets { , } with ‘,’ separated data. | Syntax includes curly brackets { , } with ‘,’ separated key-value data. |
| Creation       | A list can be created using the list() function or simple assignment to [].   | Tuple can be created using the tuple() function.                                | A set can be created using the set() function.            | A dictionary can be created using the dict() function.                  |
| Empty Data     | An empty list can be created by l = [].                                       | An empty tuple can be created by t = ().                                        | An empty set can be created by s = set().                | An empty dictionary can be created by {}.                               |
| Order          | It is an ordered collection of data.                                          | It is also an ordered collection of data.                                       | It is an unordered collection of data.                   | Ordered collection in Python version 3.7, unordered in Python Version 3.6. |
| Duplicate Data | Duplicate data entry is allowed in a List.                                    | Duplicate data entry is allowed in a Tuple.                                     | All elements are unique in a Set.                        | Keys are unique, but two different keys CAN have the same value.        |
| Indexing       | Has integer-based indexing that starts from ‘0’.                              | Also has integer-based indexing that starts from ‘0’.                           | Does NOT have an index-based mechanism.                  | Has a Key-based indexing i.e., keys identify the value.                 |
| Addition       | New items can be added using the append() method.                             | Being immutable, new data cannot be added to it.                                | The add() method adds an element to a set.               | update() method updates specific key-value pair.                        |
| Deletion       | Pop() method allows deleting an element.                                      | Being immutable, no data can be popped/deleted.                                 | Elements can be randomly deleted using pop().            | pop(key) removes the specified key along with its value.                |
| Sorting        | sort() method sorts the elements.                                             | Immutable, so sorting method is not applicable.                                 | Unordered, so sorting is not advised.                    | Keys are sorted by using the sorted() method.                           |
| Search         | index() returns index of first occurrence.                                    | index() returns index of first occurrence.                                      | Unordered, so searching is not applicable.               | get(key) returns value against specified key.                           |
| Reversing      | reverse() method reverses the list.                                           | Immutable, so reverse method is not applicable.                                 | Unordered, so reverse is not advised.                    | No integer-based indexing, so no reversal.                              |
| Count          | count() method returns occurrence count.                                      | count() method returns occurrence count.                                        | count() not defined for sets.                            | count() not defined for dictionaries.                                   |

### Operations on a List

In [ ]:
my_list = [6,9,6,5,3,4,7]

In [ ]:
#Indexing

In [ ]:
my_list[2]

6

In [ ]:
#Slicing

In [ ]:
my_list[1:3]

[9, 6]

In [ ]:
#Appending

In [ ]:
my_list.append(1004)
my_list

[6, 9, 6, 5, 3, 4, 7, 1004]

In [ ]:
#Inserting

In [ ]:
my_list.insert(2,1003)
my_list

[6, 9, 1003, 6, 5, 3, 4, 7, 1004]

In [ ]:
#Extending

In [ ]:
my_list.extend([1,2,3,4,1005,1006])
my_list

[6, 9, 1003, 6, 5, 3, 4, 7, 1004, 1, 2, 3, 4, 1005, 1006]

In [ ]:
# Finding element's index number

In [ ]:
my_list.index(1004)

8

In [ ]:
# Reversing

In [ ]:
my_list.reverse()
my_list

[1006, 1005, 4, 3, 2, 1, 1004, 7, 4, 3, 5, 6, 1003, 9, 6]

In [ ]:
# Sorting

In [ ]:
my_list.sort()
my_list

[1, 2, 3, 3, 4, 4, 5, 6, 6, 7, 9, 1003, 1004, 1005, 1006]

In [ ]:
my_list.pop(1)
my_list

[1, 3, 4]

### Frequently asked interview questions




**Question 1**: Given the list `numbers = [1, 2, 3, 4, 5, 6]`, write a Python code that removes the third element, appends the number `7` to the list, and then reverses the list.

In [ ]:
my_list = [1,2,3,4,5,6]

my_list.pop(2)       # you can alternatively use my_list.remove(2) or del my_list[2]
my_list.append(7)
my_list.reverse()
my_list

[7, 6, 5, 4, 2, 1]



 **Question 2**: Given the list `words = ["apple", "banana", "cherry", "date"]`, write a Python code that inserts the word "blueberry" at the second position, removes the last word, and then returns the list sorted in alphabetical order.

In [ ]:
words = ["apple", "banana", "cherry", "date"]

words.insert(1, "blueberry")
words.pop()
words.sort()

words

['apple', 'banana', 'blueberry', 'cherry']

### Operations specific to Tuples

1. **Concatenation**: You can concatenate two or more tuples using the `+` operator.

In [ ]:
tup1 = (1,2,3) # immutable

tup2 = (4,5,6,7)

In [ ]:
tup2[3]

7

In [ ]:
tup1+tup2

(1, 2, 3, 4, 5, 6, 7)

2. **Repetition**: You can repeat a tuple multiple times using the `*` operator.

In [ ]:
tup1 = (1,2,3)

In [ ]:
lst = [1,2,3]
lst*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
tup1*5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

### Operations on Set

In [ ]:
# Creating sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

In [ ]:
# Adding elements
set1.add(6)
print("After adding element to set1:", set1)

After adding element to set1: {1, 2, 3, 4, 5, 6}

In [ ]:
set2.add(9)
set2

{4, 5, 6, 7, 8, 9}

In [ ]:
# Updating elements
set2.update({9, 10})
print("After updating set2:", set2)

After updating set2: {4, 5, 6, 7, 8, 9, 10}

In [ ]:
# Removing elements
set1.remove(3)
print("After removing element from set1:", set1)

After removing element from set1: {1, 2, 4, 5, 6}

In [ ]:
popped_element = set1.pop()
print("Popped element from set1:", popped_element)

Popped element from set1: 1

In [ ]:
# Set Operations
#Union
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print("Union of set1 and set2:", union_set)

Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#Intersection
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_set = set1.intersection(set2)
print("Intersection of set1 and set2:", intersection_set)

Intersection of set1 and set2: {4, 5}

In [ ]:
#Difference
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
difference_set = set1.difference(set2)
print("Difference of set1 and set2:", difference_set)

Difference of set1 and set2: {1, 2, 3}

In [ ]:
#Symmetric-difference
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric Difference of set1 and set2:", symmetric_difference_set)

Symmetric Difference of set1 and set2: {1, 2, 3, 6, 7, 8}

In [ ]:
# Set Comparison

set1 = {1,2,3,4,5}
set2 = {2,3}


print("Is set1 a subset of set2?", set1.issubset(set2))
print("Is set2 a subset of set1?", set2.issubset(set1))

Is set1 a subset of set2? False
Is set2 a subset of set1? True

In [ ]:
set1 = {1,2,3}
set2 = {1,6,7}

print("Are set1 and set2 disjoint?", set1.isdisjoint(set2))

Are set1 and set2 disjoint? False

## 3. Control Flow Statements

1. **if statement**: Used for conditional execution, where different code blocks are executed based on whether a condition is true or false.

In [ ]:
chocolates = 9

if chocolates >= 10:
  print("X")
  print("I am giving 5 chocolates to my friends")
else:
  print("I am giving 2 chocolates to my friends")

I am giving 2 chocolates to my friends

#### Question 1: Write a program in python to take input of a number and print if its even or odd.

In [ ]:
x = int(input("Enter a number: "))

if x%2 == 0:
  print("Number is Even")
else:
  print("Number is Odd")

Enter a number: 33
Number is Odd

#### Question 2: Write a program in python to take two numbers as input and also the operation ('add', 'subtract', 'multiply', 'divide', 'remainder'). And finally create a calculator using python.


- For example:
- Input: a = 2, b = 3, operation = "add"
- Output: 5

In [ ]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
ops = input("Enter the operation: ")

ops = ops.lower()

if ops == "add":
  print(a+b)
elif ops == "subtract":
  print(a-b)
elif ops == "multiply":
  print(a*b)
elif ops == "divide":
  if b == 0:
    print("Cannot divide by zero")
  else:
    print(a/b)
elif ops == "remainder":
  print(a%b)
else:
  print("Invalid operation")

Enter the first number: 2
Enter the second number: 3
Enter the operation: Add
5

2. **for loop**: Used for iterating over a sequence (such as a list, tuple, or string) or other iterable objects.

In [ ]:
# Example of for loop
for i in range(1, 6):
    print(i, end=" ")

1 2 3 4 5

In [ ]:
my_list = [2,3,4,10]

for i in my_list:
  print(i)

2
3
4
10

3. **while loop**: Used for executing a block of code repeatedly as long as a condition is true.

In [ ]:
# Example of while loop
count = 0
while count < 5:
    print(count)  # Prints numbers 0 to 4 separated by space
    count = count + 1

0
1
2
3
4

4. **continue statement**: Used inside loops to skip the rest of the code inside the loop for the current iteration and proceed to the next iteration.

In [ ]:
# Example of continue statement
for i in range(1, 11):
    if i % 2 == 0:
        print("Before Continue")
        continue  # Skips current iteration
        print("After Continue")
    print("Inside Loop")
    print(i)  # Prints odd numbers between 1 to 10

Inside Loop
1
Before Continue
Inside Loop
3
Before Continue
Inside Loop
5
Before Continue
Inside Loop
7
Before Continue
Inside Loop
9
Before Continue

In [ ]:
# prompt: Write code using continue to print odd numbers

# Using continue to print odd numbers
for i in range(1, 11):
    if i % 2 == 0:
        continue
    print(i, end=" ")

5. **break statement**: Used to exit a loop prematurely based on certain conditions.

In [ ]:
# Example of break statement
for i in range(1, 11):
    if i > 5:
        print("Before break")
        break                 # Stops the loop when i becomes greater than 5
        print("After break")  # will never get printed as its after break statement
    print(i, end=" ")  # Prints numbers 1 to 5 separated by space

print("Outside Loop")

1 2 3 4 5 Before break
Outside Loop

6. **pass statement**: Used when a statement is syntactically required but you want to do nothing or placeholder for future code.

In [ ]:
# Example of pass statement
x = 11
if x < 10:
    pass  # No action is taken if x is less than 10
else:
    print("x is greater than or equal to 10")

x is greater than or equal to 10

In [ ]:
for i in range(5):
  pass

### Frequently asked interview questions

1. Write a Python function `print_even(x,y)` to print all the even numbers between x and y.

2. Write a Python function `print_prime(x,y)` to print all the prime numbers between x and y.

In [ ]:
def print_even(x,y):
  for item in range(x,y+1):
    if item%2 == 0:
      print(item, end = " ")

print(print_even(10,30))

10 12 14 16 18 20 22 24 26 28 30 None

## 4. Functions

### User defined Function



- User-defined functions in Python are created using the `def` keyword followed by the function name and parameters, if any.
- Within the function body, you define the operations to be performed.
- When the function is called, arguments are passed to it, and the function executes the defined operations using these arguments.
- It can return a value using the `return` statement.
- Functions allow for modularization of code, making it reusable and easier to maintain. They enhance code readability and organization by encapsulating specific tasks into named blocks of code.

**Example:**

```python
# Example of a user-defined function
def add_numbers(x, y):
    """Function to add two numbers."""
    return x + y

# Calling the function
result = add_numbers(3, 5)
print("Result:", result)  # Output: 8
```

In this example, `add_numbers()` is a user-defined function that takes two arguments `x` and `y`, adds them, and returns the result. When called with arguments `3` and `5`, it returns `8`, which is then printed.

### Map function



- The `map` function in Python applies a given function to each item of an iterable (such as a list, tuple, or set) and returns a new iterator that yields the results.
- It takes two arguments: the function to apply and the iterable to apply it to.
- The function provided to `map` can be a built-in function, a lambda function, or a user-defined function.
- `map` is commonly used to apply a transformation or operation to all elements of a collection without the need for explicit loops.
- It offers a more concise and efficient alternative to using a `for` loop with a list comprehension.

**Example:**

```python
# Example of using map function
def square(x):
    """Function to square a number."""
    return x ** 2

# Applying square function to each element of the list using map
numbers = [1, 2, 3, 4, 5]
squared_numbers = map(square, numbers)

# Converting the map object to a list
squared_numbers_list = list(squared_numbers)
print("Squared Numbers:", squared_numbers_list)  # Output: [1, 4, 9, 16, 25]
```

In this example, the `map` function is used to apply the `square` function to each element of the `numbers` list, resulting in a new list containing the squared values.

In [ ]:
# Convert this list of numbers to list of its cubes
# Input: numbers = [1, 2, 3, 4, 5]
# Output: [1, 8, 27, 64, 125]

numbers = [1, 2, 3, 4, 5]
cubic_numbers = list(map(lambda x:x**3, numbers))
cubic_numbers

[1, 8, 27, 64, 125]

### Lambda Function



- Lambda functions in Python are created using the `lambda` keyword, followed by the parameters and a colon, and then the expression to be evaluated.
- Lambda functions are anonymous functions, meaning they do not have a name.
- They are typically used for simple, one-line operations and are often passed as arguments to higher-order functions.
- Lambda functions can take any number of arguments, but they can only have one expression.
- They are useful for writing concise code and can be used in situations where defining a named function is unnecessary.

**Example:**

```python
# Example of a lambda function
add_numbers = lambda x, y: x + y

# Calling the lambda function
result = add_numbers(3, 5)
print("Result:", result)  # Output: 8
```

In this example, `add_numbers` is a lambda function that takes two arguments `x` and `y`, adds them, and returns the result. When called with arguments `3` and `5`, it returns `8`, which is then printed.

### Filter function

Sure, here's an explanation of the `filter()` function in Python:

- The `filter()` function in Python is used to filter elements from an iterable (such as a list) based on a given function.
- It takes two arguments: the function that determines the filtering criteria and the iterable to be filtered.
- The function passed to `filter()` should return `True` for elements that should be included in the filtered result and `False` for elements that should be excluded.
- The `filter()` function returns an iterator containing only the elements for which the function returns `True`.
- It is often used in conjunction with lambda functions or custom-defined functions to apply specific filtering criteria to iterables.

**Example:**

```python
# Example of filter() function
# Function to filter even numbers
def is_even(num):
    """Function to check if a number is even."""
    return num % 2 == 0

# List of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filter even numbers using filter() and is_even() function
even_numbers = filter(is_even, numbers)

# Convert the result to a list
even_numbers_list = list(even_numbers)

print("Even numbers:", even_numbers_list)  # Output: [2, 4, 6, 8, 10]
```

In this example, `filter()` is used to filter even numbers from the `numbers` list using the `is_even()` function. The resulting iterator is converted to a list, which contains only the even numbers `[2, 4, 6, 8, 10]`.

### Reduce Function

Sure, here's an explanation of the `reduce()` function in Python:

- The `reduce()` function is part of the `functools` module in Python and is used to apply a function to a sequence of elements.
- It repeatedly applies the specified function to the elements of the sequence, reducing them to a single value.
- The function passed to `reduce()` should accept two arguments and return a single value.
- It takes three arguments: the function to apply, the sequence of elements, and an optional initializer value.
- If an initializer value is provided, it is used as the initial value for the computation; otherwise, the first two elements of the sequence are used.
- The result of the reduction is the final accumulated value.

**Example:**

```python
from functools import reduce

# Example of reduce function to find the sum of elements in a list
numbers = [1, 2, 3, 4, 5]
sum_of_numbers = reduce(lambda x, y: x + y, numbers)
print("Sum of numbers:", sum_of_numbers)  # Output: 15
```

In this example, `reduce()` is used to find the sum of elements in the `numbers` list. The `lambda` function passed to `reduce()` takes two arguments `x` and `y` and returns their sum. The `reduce()` function iteratively applies this function to the elements of the list, resulting in the sum of all elements.

In [ ]:
from functools import reduce

# Example of reduce function to find the sum of elements in a list
numbers = [1, 2, 3, 4, 5]
sum_of_numbers = reduce(lambda x, y: x + y, numbers)
print("Sum of numbers:", sum_of_numbers)  # Output: 15

Sum of numbers: 15

### Accumulate Function

Sure, here's the explanation in bullet points with an example:

- The `itertools` module in Python provides an `accumulate()` function that generates accumulated sums or accumulated results of other binary functions.
- It takes an iterable (such as a list or tuple) and an optional binary function as arguments.
- By default, it performs addition if no function is provided.
- The function accumulates the results from the iterable, returning an iterator of accumulated values.
- It's particularly useful for calculating cumulative sums or other accumulated results efficiently.
- The `accumulate()` function can be imported from the `itertools` module: `from itertools import accumulate`.

**Example:**

```python
# Example of the accumulate function
from itertools import accumulate

# Calculate cumulative sum of a list
numbers = [1, 2, 3, 4, 5]
cumulative_sum = accumulate(numbers)
print("Cumulative Sum:", list(cumulative_sum))  # Output: [1, 3, 6, 10, 15]

# Calculate cumulative product of a list
cumulative_product = accumulate(numbers, lambda x, y: x * y)
print("Cumulative Product:", list(cumulative_product))  # Output: [1, 2, 6, 24, 120]
```

In this example, `accumulate()` is used to calculate both the cumulative sum and cumulative product of a list of numbers. The first call to `accumulate()` calculates the cumulative sum, and the second call calculates the cumulative product using a lambda function. The results are then printed.

### Frequently asked interview questions

#### Q. Write a Python program that uses map() to apply a lambda function that doubles each number in a list.

#### For example, if the input list is [1, 2, 3, 4, 5], the program should output [1,4,6,8,10].

#### Q. Use the filter() function to extract even numbers from a list of integers.

#### For example, if the input list is [1, 2, 3, 4, 5], the program should output [2,4].